# venv
.venv/
venv/
bin/
lib/
pyvenv.cfg

# IDE
.idea/
counttoonehundred.code-workspace
.vscode/

# Python
*.pyc
.pytest_cache/
.nox/
__pycache__/
*.egg
*.egg-info/


# Local dev
cloud_sql_proxy
service_configs/
